<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="icon.png" />
    <title>Restaurant Mama</title>
    <link rel="manifest" href="manifest.json" />
  </head>
  <body>
    <a href="#main-place" class="skip-to-main">Menuju ke konten</a>
    <app-nav></app-nav>
    <main>
      <app-hero tabindex="0"></app-hero>
      <h1 class="txt-center" tabindex="0">Explore Restaurant</h1>
      <app-grid id="main-place"></app-grid>
      <app-footer tabindex="0"></app-footer>
    </main>

    <app-loader></app-loader>
  </body>
</html>
